<div class="row">
  <!--<h2>{{usuario.email}}</h2>-->
  <form class="col s4 offset-s4 card-panel" style="padding:25px;">
    <h3 class="header center">Sing Up</h3>
      
    <div class="row">
      <div class="input-field inline">
        <input id="firtsName" type="text" class="validate">
        <label for="firtsName">First Name</label>
      </div>
    </div> 

    <div class="row">
      <div class="input-field inline">
        <input id="lastName" type="text" class="validate">
        <label for="lastName">Last Name</label>
      </div>
    </div> 
    
    <div class="row">
      <div class="input-field inline">
        <input id="Email" type="email" class="validate">
        <label for="Email">Email</label>
      </div>
    </div> 

    <div class="row">
      <div class="input-field inline">
        <input id="password" type="password" class="validate" >
        <label for="password">Password</label>
      </div>
    </div>
    
    <div class="row">
      <div class="input-field inline">
        <input id="confirmPass" type="password" class="validate" >
        <label for="confirmPass">confirm Password</label>
      </div>
    </div>

    <a class="waves-effect waves-light btn col s12 center" >SIGN UP</a>

    <h5 class="center separator">Or</h5>

    <a class="waves-effect waves-light btn col s12 center">SIGN UP WITH GOOGLE</a>

  </form>
</div>
